<form [formGroup]="form">
  <mat-card>
    <div mat-card-image></div>
  </mat-card>
  <input type="text" formControlName="fullName" />
  <input type="email" formControlName="email"/>
  <input type="password" formControlName="password"/>


  <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" name="email" formControlName="email">
      <mat-icon matSuffix>email</mat-icon>
      <mat-hint>Type your email</mat-hint>
      <mat-error *ngIf="form.get('email')">
        {{ email.errors | json }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" name="password" required minlength="3" maxlength="50" autocomplete="off">
      <mat-icon matSuffix>code</mat-icon>
      <mat-hint>Type your password</mat-hint>
      <mat-error *ngIf="password.invalid">
        {{ password.errors | json }}
      </mat-error>
    </mat-form-field>


    

</form>

<p>
  {{ form.status }}
</p>

<p>
  {{ form.value | json }}
</p>